body{
    background: rgb(67, 169, 201);
    color: white;
}
header{
    color: white;
    text-align: center;
    text-shadow:10px 10px 10px rgb(55, 63, 66);
}
section{
    background: white;
    border-radius: 10PX;
    padding: 10PX;
    width: 500PX;
    margin: auto;
    box-shadow: 10px 10px 10px rgb(75, 117, 128);
    color: black;
}
div{
    text-align: center;
    padding: 10px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 10px 10px 10p rgb(69, 93, 102);
}
select{
    width: 150px;
}